<div class="border rounded p-2" id="comment_{{komentar.id}}">
    <div class="row p-2">
        <h6 class="col"><i class="bi bi-person-circle"></i>{{komentar.user.user.username}}</h6>
        
        <button class="btn btn-danger col-auto" data-bs-toggle="modal" data-bs-target="#report_{{komentar.id}}">
            Report
        </button>
        {% if user.uporabnik.superuser %}
        <a class="btn btn-warning col-auto"  href="{% url "moderation:block" komentar.id %}" role="button">
            Hide comment
        </a>
        {% endif %}
        {% include "komentar/report_form.html" with report_form=report_form current_comment=komentar%}
    </div>
    {% if komentar.blocked %}
        {% if komentar.parent %}
            <p>
                This comment was removed for not following the comunity guidelines
            </p>
        {% else %}
        <p>
            Comments have been disabled for this user
        </p>
        {% endif %}
    {% else %}
        <p>
            {{komentar.content}}
        </p>
    {% endif %}
    <a class="btn btn-primary col-auto" data-bs-toggle="collapse" href="#reply_{{komentar.id}}" role="button" aria-expanded="false" aria-controls="reply_{{komentar.id}}">
        Reply
    </a>
    <div class="collapse" id="reply_{{komentar.id}}">
        {% include "komentar/reply_form.html" with reply_form=reply_form current_comment=komentar.id%}
    </div>
    {% for next_komentar in komentar.replies %}
        {% include "komentar/komentar.html" with komentar=next_komentar reply_form=reply_form%}
    {% endfor %}
</div>
