<div class="modal fade" id="report_{{current_comment.id}}" tabindex="-1" aria-labelledby="report_{{current_comment.id}}Label" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="report_{{current_comment.id}}Label">Report {% if current_comment.parent %}Comment : {{current_comment.id}}{% else %} User : {{current_comment.user}}{% endif %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form method="post" action="{% url "moderation:report" current_comment.id%}">
        {% csrf_token %}
        <div class="modal-body row">
            <div class="col">
            <p>{{report_form.report_type.label}}</p>
            <p>{{report_form.report_type}}</p>
            </div>
            <div class="col">
                <p>{{report_form.more_information.label}}</p>
            <p>{{report_form.more_information}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="submit">Report</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </form>
    </div>
</div>
</div>