<div class="border rounded p-2">
    <div class="row p-2">
        <h6 class="col"><i class="bi bi-person-circle"></i>{{komentar.user.user.username}}</h6>
        {% if komentar.blocked %}
        <p>
            This comment was removed for not following the comunity guidelines
        </p>
        {% else %}
        <p>
            {{komentar.content}}
        </p>
        {% endif %}
    </div>
</div>
