{% extends "index.html" %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block content %}

<div class="text-center">
  <form method="post" class="form-signin">
    {% csrf_token %}
    <img class="mb-4" src="{% static "img/chest.png" %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Log in<div></div></h1>
    {{ form.as_div}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
  </form>
</div>



{% endblock content %}



<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form }}
</form>

Can't remember the password? <a class="btn btn-primary" href="{% url 'password_reset' %}">Password Reset</a>