{% extends "index.html" %}

{% block extra_head %}

{% endblock extra_head %}

{% block title %}
Change password
{% endblock title %}


{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Change password</button>
</form>
{% endblock content %}


