{% extends "index.html" %}

{% block extra_head %}

{% endblock extra_head %}

{% block title %}
My profile
{% endblock title %}


{% block content %}

<section class="">
    <h1>Your profile page</h1>
</section>
<a class="btn btn-primary" data-bs-toggle="collapse" href="#settings_collapse" role="button" aria-expanded="false" aria-controls="settings_collapse">
    Settings
  </a>
<section class="container border border-secondary border-2 rounded p-4 collapse" id="settings_collapse">
    <div class="p-4">
        <form method="post">
            {% csrf_token %}
                {% if markform.errors %}
                <div class="alert alert-warning">{{markform.errors}}</div>
                {% endif %}
                    {{ markform.description }}
                
            <button type="submit">Change your profile</button>
        </form>
    </div>
    <a class="btn btn-secondary" href="{% url "password_change"%}">Change your password</a>
</section>



<section class="container border rounded">
    <p>{{md | safe}}</p>
</section>

<section class="container border rounded">
    {% include "komentar/komentar.html" with komentar=uporabnik.profile_comment  reply_form=reply_form%}
</section>


{% endblock content %}