{% extends "index.html" %}

{% block title %}
Sign up
{% endblock title %}

{{form.as_div}}

{% block content %}
<h2>Sign up</h2>
<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Sign Up</button>
</form>
{% endblock content %}