{% extends "index.html" %}

{% block title %}
Search user
{% endblock title %}


{% block content %}
<h2>Search users</h2>

<div class="container text-center">
    <div class="row p-3">
      <div class="col p-3">
        <form method="get">
          {{ filter.form.as_p }}
          <input type="submit" />
        </form>
      </div>
      <div class="border rounded p-3 col">
        {% for obj in filter.qs %}
            <div class="row border rounded p-3 m-2 position-relative">
                <i class="bi bi-person-circle col"></i>
                {{obj.user.username}}
                <a class="stretched-link" href="{% url "accounts:get" obj.user.username %}"></a>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}