{% extends "index.html" %}

{% block extra_head %}

{% endblock extra_head %}

{% block title %}
User: 
{% endblock title %}


{% block content %}


<section class="container border rounded m-2 p-3">
    <p>{{md | safe}}</p>
</section>

<section class="container border rounded m-2 p-3">
    <h2 class=" border-bottom" data-bs-toggle="collapse" href="#zakljuceno" role="button" aria-expanded="false" aria-controls="zakljuceno">
        Ponudbe
    </h2>
    <div class="collapse show row" id="preklicano">
        <div class="col p-3 rounded border">
            <h2 class="border-bottom" data-bs-toggle="collapse" href="#kupim" role="button" aria-expanded="false" aria-controls="kupim">
                Želim
            </h2>
            <div class="collapse show" id="kupim">
                {% for ponudba in kupim %}
                <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
                    {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col p-3 rounded border">
            <h2 class="border-bottom" data-bs-toggle="collapse" href="#prodam" role="button" aria-expanded="false" aria-controls="prodam">
                Prodam
            </h2>
            <div class="collapse show" id="prodam">
                {% for ponudba in prodam %}
                <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
                    {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
                </a>
                {% endfor %}
            </div>
        </div>
</section>

<section class="container border rounded m-2 p-3">
    {% include "komentar/komentar.html" with komentar=uporabnik.profile_comment  reply_form=reply_form%}
</section>

{% endblock content %}