{% extends "index.html" %}

{% block title %}
Moje Ponudbe
{% endblock title %}


{% block content %}
<section class="container content border rounded">
    <a class="btn btn-success" href="{% url "ponudbe:new" %}">New Ponudba</a>
    <div class="row p-3">
        <h2 class=" border-bottom" data-bs-toggle="collapse" href="#oddaj" role="button" aria-expanded="false" aria-controls="oddaj">
            Oddaj karte
        </h2>
        <div class="collapse show" id="oddaj">
            {% for ponudba in oddaj %}
            <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
                {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
    
            </a>
            {% endfor %}
        </div>
        <h2 class="border-bottom">Potrdi</h2>
        <div class="col p-3 rounded border">
            <h2 class="border-bottom" data-bs-toggle="collapse" href="#prejem" role="button" aria-expanded="false" aria-controls="prejem">
                Prejem
            </h2>
            <div class="collapse show" id="prejem">
                {% for ponudba in prevz %}
                <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
                    {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col p-3 rounded border">
            <h2 class="border-bottom" data-bs-toggle="collapse" href="#kupca" role="button" aria-expanded="false" aria-controls="kupca">
                Kupca
            </h2>
            <div class="collapse show" id="kupca">
                {% for ponudba in trans %}
                <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
                    {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col p-3 rounded border">
            <h2 class="border-bottom" data-bs-toggle="collapse" href="#nakup" role="button" aria-expanded="false" aria-controls="nakup">
                Nakup
            </h2>
            <div class="collapse show" id="nakup">
                {% for ponudba in nakup %}
                <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
                    {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <h2 class=" border-bottom" data-bs-toggle="collapse" href="#na_voljo" role="button" aria-expanded="false" aria-controls="na_voljo">
        Na voljo
    </h2>
    <div class="collapse show" id="na_voljo">
        {% for ponudba in na_voljo %}
        <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
            {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}

        </a>
        {% endfor %}
    </div>
    <h2 class="border-bottom" data-bs-toggle="collapse" href="#preklicano" role="button" aria-expanded="false" aria-controls="preklicano">
        Preklicano
    </h2>
    <div class="collapse show row" id="preklicano">
        <div class="col p-3 rounded border">
            <h2 class="border-bottom" data-bs-toggle="collapse" href="#moji" role="button" aria-expanded="false" aria-controls="moji">
                Moji
            </h2>
            <div class="collapse show" id="moji">
                {% for ponudba in moji %}
                <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
                    {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col p-3 rounded border">
            <h2 class="border-bottom" data-bs-toggle="collapse" href="#drugi" role="button" aria-expanded="false" aria-controls="drugi">
                Drugi
            </h2>
            <div class="collapse show" id="drugi">
                {% for ponudba in drugi %}
                <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
                    {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
                </a>
                {% endfor %}
            </div>
        </div>
        <h2 class=" border-bottom" data-bs-toggle="collapse" href="#zakljuceno" role="button" aria-expanded="false" aria-controls="zakljuceno">
            zaključeno
        </h2>
        <div class="collapse show row" id="preklicano">
            <div class="col p-3 rounded border">
                <h2 class="border-bottom" data-bs-toggle="collapse" href="#moji_zaklj" role="button" aria-expanded="false" aria-controls="moji_zaklj">
                    Moji
                </h2>
                <div class="collapse show" id="moji_zaklj">
                    {% for ponudba in moji_zaklj %}
                    <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
                        {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col p-3 rounded border">
                <h2 class="border-bottom" data-bs-toggle="collapse" href="#drugi_zaklj" role="button" aria-expanded="false" aria-controls="drugi_zaklj">
                    Drugi
                </h2>
                <div class="collapse show" id="drugi_zaklj">
                    {% for ponudba in drugi_zaklj %}
                    <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
                        {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
                    </a>
                    {% endfor %}
                </div>
            </div>
    </div>
{% endblock content %}