{% extends "index.html" %}


{% block title %}
New Ponudba
{% endblock title %}


{% block content %}

<form method="post">
    {% csrf_token %}
    {{form.as_div}}
    <button type="submit">New ponudba</button>
</form>
{{form.media}}
{% endblock content %}