{% extends "index.html" %}

{% block extra_head %}

{% endblock extra_head %}

{% block title %}
my home title
{% endblock title %}


{% block content %}
<div class="container text-center">
  <div class="row p-3">
    <div class="col p-3">
      <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
      </form>
    </div>
    <div class="border rounded p-3 col ">
      {% for obj in filter.qs %}
      <div class="position-relative">
        <a class="stretched-link"href="{% url "ponudbe:get"  obj.id%}" style="text-decoration:none"></a>
            {% include "ponudbe/ponudba.html" with ponudba=obj %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}


