<div class="rounded border p-2 row">
    <div class="col text-{% if ponudba.tip == "K" %}warning{% else %}success{%endif%}">
        {{ponudba.get_tip_display}}
    </div>
    <div class="col">
        <a href="{% url "accounts:get"  ponudba.ustvaril.user.username %}">
            {{ponudba.ustvaril}}
        </a>
        {% if ponudba.zakljucil %}
            ->
            <a href="{% url "accounts:get"  ponudba.zakljucil.user.username %}">
                {{ponudba.zakljucil}}
            </a>
        {% endif %}
    </div>
    <div class="col">
        {{ponudba.karta}}
    </div>
    <div class="col">
        {{ponudba.cena}} €
    </div>
    <div class="col">
        {{ponudba.dodatno}}
    </div>
    {% if stanje %}
        <div class="col">
            {{ponudba.get_stanje_display}}
        </div>
    {% endif %}
    {% if ponudba.stanje == "Z" %}
    <div class="col">
        {% if ponudba.mnenje %}
            {% include "komentar/review.html" with komentar=ponudba.mnenje %}
        {% endif %}
    </div>
    {% endif %}
</div>