{% extends "index.html" %}

{% block title %}
Ponudba: {{ponudba.id}}
{% endblock title %}


{% block content %}

<h1>Ponudba: {{ponudba.id}}</h1>
{% include "ponudbe/ponudba.html" with ponudba=ponudba  stanje=True%}

{% if user.uporabnik == ponudba.ustvaril %}
    {% if ponudba.stanje == "N" %}
        <div class="collapse" id="edit">
            <form class="section border rounded" method="post" action="{% url "ponudbe:edit" ponudba.id%}">
                <div class="row">
                    {% csrf_token %}
                    {{edit_form}}
                    <button  class="btn btn-success" type="submit">Save</button>
                </div>
            </form>
        </div>
        <div>
            <button class="btn btn-warning col-auto" data-bs-toggle="collapse" href="#edit" role="button" aria-expanded="false" aria-controls="edit">Uredi</button>  
            <a href="{% url "ponudbe:delete" ponudba.id %}" class="btn btn-danger col-auto">Delete</a>  
        </div>
    {% endif %}
    {% if ponudba.stanje == "T" %}
        <div>
            <p>User <a href="{% url "accounts:get" ponudba.zakljucil %}"><code>{{ponudba.zakljucil}}</code></a> wants to create a transaction with you.</p>
            <form method="post" >
                {% csrf_token %}
                {{reply_form}}
                <button class="btn btn-success" type="submit" formaction="{% url "ponudbe:transactions:confirm" ponudba.id %}">Confirm</button>
                <button class="btn btn-danger" type="submit" formaction="{% url "ponudbe:transactions:cancel" ponudba.id %}">Cancel</button>
            </form>

        </div>
    {% endif %}
{% endif %}
{% if user.uporabnik %}
    {% if ponudba.stanje == "N" and user.uporabnik != ponudba.ustvaril%}
        {% if ponudba.tip == "P"%}
            <a href="{% url "ponudbe:transactions:buy" ponudba.id %}" class="btn btn-success">Buy</a>
        {% endif %}
        {% if ponudba.tip == "K" %}
        <a href="{% url "ponudbe:transactions:suggest" ponudba.id %}" class="btn btn-success">Offer</a>
        {% endif %}
    {% endif %}
    {% if user.uporabnik == ponudba.zakljucil and ponudba.stanje == "G"%}
    <form method="post" >
        {% csrf_token %}
        {{reply_form}}
        <button class="btn btn-success" type="submit" formaction="{% url "ponudbe:transactions:confirm" ponudba.id %}">Confirm</button>
        <button class="btn btn-danger" type="submit" formaction="{% url "ponudbe:transactions:cancel" ponudba.id %}">Cancel</button>
        (you can accept that you will buy the card or cancel)
    </form>
    {% endif %}
    {% if ponudba.stanje == "V"  and user.uporabnik == ponudba.zakljucil%}
    <form method="post" >
        {% csrf_token %}
        {{reply_form}}
        <button class="btn btn-success" type="submit" formaction="{% url "ponudbe:transactions:finish" ponudba.id %}">Confirm</button>
        <button class="btn btn-danger" type="submit" formaction="{% url "ponudbe:transactions:cancel" ponudba.id %}">Cancel</button>
        (you can accept that you recieved the card or cancel that you didnt)
    </form>

    {% endif %}


{% endif %}

{% endblock content %}