{% extends "index.html" %}

{% block title %}
404 page not found
{% endblock title %}


{% block content %}

<div class="text-center p-5 m-5">
    <h1>
        ERROR 404
    </h1>
    <p>
        The page you are looking for does not exist
    </p>
</div>

{% endblock content %}