{% extends "index.html" %}

{% block title %}
500 page error
{% endblock title %}


{% block content %}
<div class="text-center p-5 m-5">
    <h1>
        ERROR 500
    </h1>
    <p>
        A problem has occured
    </p>
</div>

{% endblock content %}