{% load static %}
<footer class="footer mt-auto py-3 bg-dark border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                Treasure Chest
            </div>
            <div class="col-12 col-md">
                <a href="{% url 'admin:index' %}">A!</a>
            </div>
        </div>
    </div>
  </footer>