{% extends "index.html" %}

{% block title %}
Treasure chest OPTCG
{% endblock title %}


{% block content %}
{% if user.uporabnik %}
    welcome <code>{{user.username}}</code>
    
    <h2 class="border-bottom" data-bs-toggle="collapse" href="#suggestions" role="button" aria-expanded="false" aria-controls="suggestions">
        Cards matching your wants
    </h2>
    <div class="collapse show" id="suggestions">
        <div class="col p-3 rounded border">
            <h2 class="border-bottom" data-bs-toggle="collapse" href="#in_range" role="button" aria-expanded="false" aria-controls="in_range">
                In Range
            </h2>
            <div class="collapse show" id="in_range">
                {% for karta, sugg in range.items %}
                    {% if sugg %}
                        <h4>{{karta}}</h4>
                    {% endif %}
                    {% for ponudba in sugg %}
                        
                        <div class="position-relative">
                            <a class="stretched-link" href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none"></a>
                            {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col p-3 rounded border">
            <h2 class="border-bottom" data-bs-toggle="collapse" href="#other" role="button" aria-expanded="false" aria-controls="other">
                Other
            </h2>
            <div class="collapse show" id="other">
                {% for ponudba in trans %}
                <a href="{% url "ponudbe:get"  ponudba.id%}" style="text-decoration:none">
                    {% include "ponudbe/ponudba.html"  with ponudba=ponudba%}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

<h1>Treasure chest OPTCG:</h1>

<p>Card trading IS for One piece cards</p>
<p></p>

{% endblock content %}