{% load static %}

<style>
    .my-navbar {
        background: var(--bs-body-bg);
    }
</style>
<header>
<nav id="nav_bar" class="sticky-top navbar navbar-expand-lg my-navbar  border-bottom">
    <div class="container">
        <a class="navbar-brand" href="{% url "homepage" %}">
            <img src="{% static 'img/chest.png' %}" alt="" style="width:64px;height:64px;">
            Treasure Chest
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle naviagtion">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nvabbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url "homepage" %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "accounts:search" %}">Search users</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "ponudbe:index" %}">Ponudbe</a>
                </li>
                {% if user.uporabnik %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url "ponudbe:moje" %}">Moje Ponudbe</a>
                </li>
                {% endif %}
                {% if user.uporabnik.superuser %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url "moderation:homepage" %}">Moderation</a>
                </li>
                {% endif %}
                <li class="nav-item">
                  {% if user.is_authenticated %}
                  
                  <a class="nav-link" href="{% url "accounts:profile" %}"><i class="bi bi-person-circle"></i>{{user.username}}</a>
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                  </form>
                  {% else %}
                  <a class="nav-link" href="{% url "login" %}">Log in</a>
                  <a class="nav-link" href="{% url "signup" %}">Sign up</a>
                  {% endif %}
              </li>

                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                    <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                    <hr class="d-lg-none my-2 text-white-50">
                </li>
                <!--Dark mode button-->
                <li class="nav-item dropdown">
                    <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (auto)">
                      <i class="bi bi-circle-half my-1 theme-icon-active"><use href="#circle-half"></use></i>
                      <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                      <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                          <i class="bi bi-sun-fill me-2 opacity-50 theme-icon"><use href="#sun-fill"></use></i>
                          Light
                          <i class="bi ms-auto d-none"><use href="#check2"></use></i>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                          <i class="bi bi-moon-stars-fill me-2 opacity-50 theme-icon"><use href="#moon-stars-fill"></use></i>
                          Dark
                          <i class="bi ms-auto d-none"><use href="#check2"></use></i>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                          <i class="bi bi-circle-half me-2 opacity-50 theme-icon"><use href="#circle-half"></use></i>
                          Auto
                          <i class="bi ms-auto d-none"><use href="#check2"></use></i>
                        </button>
                      </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>

<script async>
    (() => {
      'use strict'
    
      const getStoredTheme = () => localStorage.getItem('theme')
      const setStoredTheme = theme => localStorage.setItem('theme', theme)
    
      const getPreferredTheme = () => {
        const storedTheme = getStoredTheme()
        if (storedTheme) {
          return storedTheme
        }
    
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
      }
    
      const setTheme = theme => {
        if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.documentElement.setAttribute('data-bs-theme', 'dark');
          document.body.classList.remove('light');
          document.body.classList.add('dark');
        } else {
          document.documentElement.setAttribute('data-bs-theme', theme);
          document.body.classList.remove('dark');
          document.body.classList.remove('light');
          document.body.classList.add(theme);

        }
      }
    
      setTheme(getPreferredTheme())
    
      const showActiveTheme = (theme, focus = false) => {
        const themeSwitcher = document.querySelector('#bd-theme')
    
        if (!themeSwitcher) {
          return
        }
    
        const themeSwitcherText = document.querySelector('#bd-theme-text')
        const activeThemeIcon = document.querySelector('.theme-icon-active use')
        const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
        const iOfActiveBtn = btnToActive.querySelector('i use').getAttribute('href')
    
        document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
          element.classList.remove('active')
          element.setAttribute('aria-pressed', 'false')
        })
    
        btnToActive.classList.add('active')
        btnToActive.setAttribute('aria-pressed', 'true')
        activeThemeIcon.setAttribute('href', iOfActiveBtn)
        const themeSwitcherLabel = `${themeSwitcherText.textContent} (${btnToActive.dataset.bsThemeValue})`
        themeSwitcher.setAttribute('aria-label', themeSwitcherLabel)
    
        if (focus) {
          themeSwitcher.focus()
        }
      }
    
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
        const storedTheme = getStoredTheme()
        if (storedTheme !== 'light' && storedTheme !== 'dark') {
          setTheme(getPreferredTheme())
        }
      })
    
      window.addEventListener('DOMContentLoaded', () => {
        showActiveTheme(getPreferredTheme())
    
        document.querySelectorAll('[data-bs-theme-value]')
          .forEach(toggle => {
            toggle.addEventListener('click', () => {
              const theme = toggle.getAttribute('data-bs-theme-value')
              setStoredTheme(theme)
              setTheme(theme)
              showActiveTheme(theme, true)
            })
          })
      })
    })()
    </script>