<div class="border rounded p-3 m-3 row bg-secondary">
        <p class="border rounded p-2">
            <button class="border rounded p-2 btn btn-{% if comment.blocked %}danger {% else %}success{% endif %}">
            {% if comment.blocked %}
            BLOCKED
            {% else %}
            VIEWABLE
            {% endif %}
            </button>
            Report count: {{comment.tickets}}
    </p>
    <p class="border rounded p-2">{{comment.content}}</p>
</div>