{% extends "index.html" %}

{% block title %}
Treasure chest OPTCG
{% endblock title %}


{% block content %}
<h2 class="border-bottom">Comment: {{comment.id}}</h2>
{% if comment.blocked == False %}<a class="btn btn-danger" href="{% url "moderation:block"  comment.id%}">Block</a>{% endif %}
<p>STATUS: <code>{% if comment.blocked %}BLOCKED {% else %}VIEWABLE{% endif %}</code></p>
<div>
    <p>User <code>{{comment.user.user.uporabnik}}</code> posted this:</p>
    <p class="border rounded p-3 m-3">{{comment.content}}</p>
    {% if comment.parent %}
    <p>in reference to:</p>
    <p class="border rounded p-3 m-3">{{comment.parent.content}}</p>
    <p>by <code>{{comment.parent.user.user.uporabnik}}</code></p>
    {% endif %}
</div>

<div>
    <h2 class="border-bottom">Tickets: </h2>
    {% for ticket in tickets %}
    <div class="border rounded p-3 m-3 ">
        
        <p>{{ticket.by}}</p>
        <p>
            {% for type in ticket.type %}
            <p class="border rounded p-1">
                {{type}}
            </p> 
            {% endfor %}
        </p>
        <p>{{ticket.information}}</p>

    </div>
    {% endfor %}
</div>

{% endblock content %}