{% extends "index.html" %}

{% block title %}
Treasure chest OPTCG
{% endblock title %}


{% block content %}
<h2 class="border-bottom">Potential problems</h2>
<div class="col p-3 rounded border">
    <h2 class="border-bottom" data-bs-toggle="collapse" href="#prejem" role="button" aria-expanded="false" aria-controls="prejem">
        By number of tickets
    </h2>
    <div class="collapse show" id="prejem">
        {% for comment in comments %}
            <div class="position-relative">
                <a class="stretched-link"href="{% url "moderation:comment" comment.id %}" style="text-decoration:none"></a>
                {% include "mod/comment.html"  with comment=comment%}
          </div>
        {% endfor %}
    </div>
</div>
<div class="col p-3 rounded border">
    <h2 class="border-bottom" data-bs-toggle="collapse" href="#kupca" role="button" aria-expanded="false" aria-controls="kupca">
        by severity
    </h2>
    <div class="collapse show" id="kupca">
        {% for ponudba in trans %}
        
        {% endfor %}
    </div>
</div>

{% endblock content %}