{% extends "index.html" %}

{% block extra_head %}

{% endblock extra_head %}

{% block title %}
Ticket: {{ticket.id}}
{% endblock title %}


{% block content %}

{% include "mod/ticket.html" with ticket=ticket %}

<section class="container border rounded p-3">
    <div>
        {{ticket.id}}
    </div>
    <div>
        {{ticket.by}}
    </div>
    <div>
        {{ticket.id}}
    </div>
</section>
{% endblock content %}