<div>
    <div class="row">
        <div class="col">
            {{ticket.by}}
        </div>
        <div class="col">
            {{ticket.status}}
        </div>
        <div class="col">
            {{ticket.report_type}}
        </div>
        <div class="col">
            {{ticket.information}}
        </div>
        <div class="col">
            {{ticket.moderator}}
        </div>
        <div class="col">
            {{ticket.comment_id}}
        </div>
    </div>
</div>