{% extends "index.html" %}

{% block extra_head %}

{% endblock extra_head %}

{% block title %}
Ticket Moderation
{% endblock title %}


{% block content %}
<div class="container text-center">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#col_pend" role="button" aria-expanded="false" aria-controls="col_pend">
        Pending
    </a>

    <a class="btn btn-danger" data-bs-toggle="collapse" href="#col_accept" role="button" aria-expanded="false" aria-controls="col_accept">
        Accepted
    </a>

    <a class="btn btn-success" data-bs-toggle="collapse" href="#col_cancel" role="button" aria-expanded="false" aria-controls="col_cancel">
        Canceled
    </a>
    <a class="btn btn-warning" data-bs-toggle="collapse" href="#col_drop" role="button" aria-expanded="false" aria-controls="col_drop">
        Dropped
    </a>
</div>
<div class="collapse" id="col_pend">
    <p>Pending tickets are tickets that are in process of being looked into</p>
    <div class="card card-body">
        {% for ticket in pending %}
        <a href="{% url "moderation:ticket" ticket_id=ticket.id %}">
            {% include "mod/ticket.html" with ticket=ticket %}
        </a>
        {% endfor %}
    </div>
</div>
<div class="collapse" id="col_accept">
    <p>Accepted tickets are tickets that were accepted as correct, and have showed in a comment or user profile ban</p>
    <div class="card card-body">
      {% for ticket in accepted %}
      <a href="{% url "moderation:ticket" ticket_id=ticket.id %}">
        {% include "mod/ticket.html" with ticket=ticket %}
        </a>
      {% endfor %}
    </div>
</div>
<div class="collapse" id="col_cancel">
    <p>Canceled ticket are tickets that show no wrongdoing</p>
    <div class="card card-body">
        {% for ticket in canceled %}
        <a href="{% url "moderation:ticket" ticket_id=ticket.id %}">
            {% include "mod/ticket.html" with ticket=ticket %}
            </a>
        {% endfor %}
    </div>
</div>
<div class="collapse" id="col_drop">
    <p>Dropped tickets are tickets that were dropped by the original reporting user</p>
    <div class="card card-body">
        {% for ticket in dropped %}
        <a href="{% url "moderation:ticket" ticket_id=ticket.id %}">
        {% include "mod/ticket.html" with ticket=ticket %}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}